@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    background-color: #0b0b0f;
    color: white;
}

header {
    width: 100%;
    background-color: #111116;
    border-bottom: 1px solid #25252d;
}

.nav-bar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s;
    color: #00E5FF;
    padding: 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    height: 40px; 
    width: auto;  
    object-fit: contain;
}


.nav-links {
    display: flex;
    color: #b8b8c2;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    list-style: none;
}

.nav-links a {
    color: #00E5FF;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px;
}

.nav-links a:hover {
    opacity: 0.5;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-actions a {
    color: #00E5FF;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.nav-actions a:hover {
    color: white;
}

.login-link {
    gap: 7px;
    font-size: 14px;
    font-weight: bold;
}

.login-link ion-icon {
    font-size: 27px;
}

.cart-link {
    gap: 7px;
    font-size: 14px;
    font-weight: bold;
}

.cart-link ion-icon {
    font-size: 27px;
}

.separator {
    color: white;
    font-size: 20px;
}

.nav-actions a:hover {
    color: white;
}

.catalog {
    padding: 70px 60px;
}

.catalog h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.catalog-description {
    text-align: center;
    color: #b8b8c2;
    font-size: 17px;
    margin-bottom: 40px;
}

.catalog-controls {
    max-width: 1300px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.catalog-controls input,
.catalog-controls select {
    background-color: #15151c;
    color: white;
    border: 1px solid #25252d;
    border-radius: 5px;
    padding: 13px 15px;
    font-family: 'Montserrat';
    font-size: 15px;
    outline: none;
    align-items: center;

}

.catalog-controls input {
    width: 500px;
}

.catalog-controls select {
    width: 280px;
    padding-right: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.catalog-controls input,
.catalog-controls select {
    border-color: #00E5FF;
}

.catalog.product-container {
    max-width: 1300px;
    margin: 0 auto;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1300px;
    margin: 0 auto;
}

.product-card {
    background-color: #15151c;
    border: 1px solid #25252d;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.catalog {
    background-image: 
        linear-gradient(
            to bottom, 
            rgba(11, 11, 15, 0.75) 0%, 
            rgba(11, 11, 15, 0.85) 50%,  
            rgba(11, 11, 15, 0.95) 100%  
        ), 
        url('../img/fondo.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 70px 60px;
}

.product-card h3 {
    min-height: 40px;
    margin: 15px 15px 5px;
    font-size: 17px;
    color: white;
}

.product-specs {
    font-size: 12px;
    color: #00E5FF;
    margin: 0 15px 15px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    font-weight: 500;
}

.product-card p {
    color: #b8b8c2;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px 15px;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-8px);
    border-color: #00E5FF;
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.4);
}

.product-card img {
    width: 100%;
    height: 230px;
    object-fit: contain;
    display: block;
    padding: 10px;
}

.product-card p {
    color: #b8b8c2;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px 20px;
    text-align: center;
}

.product-card button {
    width: calc(100% - 40px);
    margin: auto 20px 0;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: #00BFFF;
    color: white;
}

.product-card button:hover {
    background-color: #0284C7;
    transform: translateY(-2px);
}

.no-results {
    display: none;
    width: 100%;
    text-align: center;
    color: #b8b8c2;
    font-size: 18px;
    margin-top: 40px;
}

@media(max-width:1000px) {

    .nav-bar {
        padding: 0 30px;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-content h1 {
        font-size: 40px;
    }
}

@media(max-width:650px) {

    .nav-bar {
        height: auto;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner {
        min-height: 450px;
    }

    .banner-content h1 {
        font-size: 32px;
    }

    .banner-content p {
        font-size: 16px;
    }

    .featured {
        padding: 50px 20px;
    }

    .featured h2 {
        font-size: 25px;
    }

    .product-container {
        grid-template-columns: 1fr;
    }

}

.footer {
    font-family: 'Montserrat';
    width: 100%;
    background-color: #111116;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    box-sizing: border-box;
    border-top: 1px solid #25252d;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    list-style: none;
}

.menu-elem {
    text-decoration: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: #b8b8c2;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}